/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
    .profile-container{
        /* margin-top: -2%; */
        padding: auto;
      
    }
    .right-side{
        width: 100%;
        margin-top: 8em;
        display: none;
    }
    
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
    .profile-container{
        margin-left: 1%;
        padding: auto;
       align-items: left;
        width: 0%;
        justify-content: left;
        display: inline;
        background-color: antiquewhite;
    }
    .users h1{
        text-align: left;
        color: rgb(134, 129, 129);
        font-family: cursive;
    }
    .users{
        text-align: center !important;
    }
    .users ul{
        color:rgb(17, 17, 16);
        /* text-align: center; */
        /* width: 100%; */
    }
}
.home-container{
    width:99%;
}
/* 0684442926 */
.profile-container{
    /* margin-top: -6em; */
    margin: auto;
    padding: auto;
    width: 40%;
}
.profile1{
    display: flex;
    background-color: #e25ff3;
    /* opacity: 0.7; */
    /* margin-top: 2%; */
    padding-left: 2%;
    color:white;
}
.profile2{
    display: flex;
    background-color: #6876ed;
    /* opacity: 0.7; */
    margin-top: 2%;
    padding-left: 2%;
    color:white;
}
.profile3{
    display: flex;
    background-color: #f74444;
    /* opacity: 0.7; */
    margin-top: 2%;
    padding-left: 2%;
    color:white;
}
.profile4{
    display: flex;
    background-color: #424142;
    /* opacity: 0.7; */
    margin-top: 2%;
    padding-left: 2%;
    color:white;
}
.profile5{
    display: flex;
    background-color: #8cb8eb;
    /* opacity: 0.7; */
    margin-top: 2%;
    padding-left: 2%;
    color:white;
}
.profile2 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: 200;
    border-bottom: 1px rgb(97, 63, 63);
    margin-top:4%;
    padding:4%; 
}
.profile4 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: 200;
    border-bottom: 1px rgb(97, 63, 63);
    margin-top:4%;
    padding:3%; 
}
.details h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: 200;
    border-bottom: 1px rgb(97, 63, 63);
    margin-top:4%; 
}
.details h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-style: oblique;
    font-weight: 200;
    border-bottom: 1px rgb(97, 63, 63);
    padding-top:5%; 
}
.profile1 i{
    margin-top: 4%;
}
.profile3 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: oblique;
    font-weight: 200;
    border-bottom: 1px rgb(97, 63, 63);
    padding:4%; 
    margin: 1%;

}
.profile2 i{
    margin-top: 3%;
    
}
.profile3 i{
    margin-top: 3%;
}
.profile4 i{
    margin-top:2%;
}
.profile5 i{
    margin-top: 1%;
}
.profile1 p{
    padding-left: 2%;
}
.profile1 p h2{
    margin-top: -1em;
}
.profile5 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: 200;
    border-bottom: 1px rgb(97, 63, 63);
    margin-top:4%;
    padding-left:4%; 
    
}
.body{
    display:block;
    background-color: #3e565e;
    width: 100%;
    margin-top: -1em;
}
.menu{
    /* background-color:#444747 ; */
    padding:2%;
    /* width: 96%; */
}
.menu ul{
    text-align: right;
    
}
.menu ul li{
    display:inline;
    padding:2%;
}
.menu a{
    color: rgb(245, 141, 159);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.users-container{
    width: 1200px;
    /* margin-left: 5%; */
    background-color: rgb(250, 250, 250);
}
.userContainer{
    margin: auto;
    padding: auto;
    width: 60%;
    display: flex;
   
}
.right-side {
    width: 70%;
    margin-left: 10%;
}
.users{
    /* margin-left: -2em; */

}
.users h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: 200;
    border-bottom: 1px rgb(97, 63, 63);
    margin-top:4%;
    padding-left:4%; 
    align-items: center;
}
.users li{
    list-style-type:none;
    align-items: flex-start;
    font-family: cursive;
}
.right-side img{
    width: 100%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 60%;
    
}